<h1>Social Media</h1>

<div class="row">
  <div class="span1">Social Button</div>
  <div class="span1">Social Button</div>
  <div class="span1">Social Button</div>
</div>

Need some kind of padding here, 40-60px max

<div class="row">
  <div class="span1">Social Button</div>
  <div class="span1">Social Button</div>
  <div class="span1">Social Button</div>
</div>




